/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
    background-position: top;
    background-size: contain;
}

header img {
    width: 120px;
    margin-top: 40px;
}