@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap');

/* reset + stili globali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Playfair Display", serif;
}

.text-grey {
    color: gray;
}
.text-accent {
    color: #4EA0FF;
}
.text-white {
    color: white;
}

/* stili elementi */
header {
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
    background-position: top;
    background-size: contain;
}

header img {
    width: 120px;
    margin-top: 40px;
}