@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap');

/* reset + stili body */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Playfair Display", serif;
}

/* colori testi */
.text-grey {
    color: gray;
}
.text-accent {
    color: #4EA0FF;
}
th, #potrebbeinteressarti1 p, #potrebbeinteressarti2 p {
    color: white;
}

/* dimensioni testi */
.text-small {
    font-size: 12px;
}
.text-big {
    font-size: 18px;
    font-weight: 600;
}

/* stili elementi */
header {
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
    background-position: top;
    background-size: contain;
}

header img {
    width: 120px;
    margin-top: 40px;
}
/* lista */
ul {
    padding-left: 20px;
}
/* tabella */
table {
    border-collapse: collapse;
}
thead {
    background-color: #4EA0FF;
    text-align: left;
}
tbody tr:nth-child(odd) {
    background-color: #B1E5F2;
}

/* box "potrebbero interessarti" */
#potrebbeinteressarti1, #potrebbeinteressarti2 {
    width: 200px;
    height: 120px;
}